<h1><%= t("admin.messages.new.title") %></h1>

<%= form_for @message, url: admin_messages_path do |form| %>
  <%= render partial: 'form', locals: { form: form } %>

  <%= form.submit t("admin.messages.new.submit") %>
<% end %>