<h1 class="page-header"><%= t("admin.people.show.title") %></h1>

<section id="info">
  <div class="attribute">
    <span><%= t("admin.people.show.phone_no") %></span>
    <span><%= @person.phone_no %></span>
  </div>
</section>