@font-face
  font-family: Oxygen
  src: 'fonts/Oxygen-Regular.ttf'


body
  background-image: image-url('bg.png')
  font-family: Oxygen, Arial, Sans-Serif


a
  color: #323232
  text-decoration: none


a:hover
  text-decoration: underline


i
  font-size: 1.2em


h1
  font-size: 1.6em
  margin-bottom: 20px


.wrapper
  margin: auto
  width: 822px


header
  background-color: rgba(0, 0, 0, 0.3)
  padding: 10px 0
  text-align: right

  li
    display: inline-block
    margin-left: 5px

  a
    color: #F2F2F2
    font-size: 0.8em
    padding: 5px 0

  i
    color: #F2F2F2
    vertical-align: -2px


#logo
  background-image: image-url('wings.png')
  background-repeat: no-repeat
  color: #FFF
  display: block
  height: 35px
  margin-top: 60px
  padding: 20px 0 0 150px
  width: 95px


#main-content
  background-image: image-url('envelope_top.png'), image-url('envelope_bottom.png'), image-url('envelope.png')
  background-position: center top, center bottom, center center
  background-repeat: no-repeat, no-repeat, repeat-y
  margin-top: 40px
  min-height: 280px
  padding: 40px

  nav
    background-image: image-url('seal.png')
    background-repeat: no-repeat


.list
  font-size: 0.9em
  width: 742px

  thead tr
    background-color: #7492A3

  tbody tr:nth-child(odd)
    background-color: rgba(117, 147, 163, 0.5)

  tbody tr:nth-child(even)
    background-color: rgba(117, 147, 163, 0.2)

  td, th
    display: inline-block
    margin: 10px
    width: 160px

  i
    padding-right: 5px


.actions
  margin-top: 20px

  a
    display: inline-block
    font-size: 0.9em
    margin-right: 10px
    text-align: center


.button
  background-color: #7492A3
  border-radius: 5px
  padding: 10px


.button:hover
  color: #FFF
  text-decoration: none


.details
  li
    margin-bottom: 10px

  .label
    display: inline-block
    width: 200px


footer
  color: #FFF
  font-size: 0.9em
  padding-top: 40px
  text-align: right

  a
    color: #F9F6E7
