body
  background-image: image-url('bg.png')


a
  color: #323232
  text-decoration: none


.wrapper
  margin: auto
  width: 822px


#logo
  background-image: image-url('wings.png')
  background-repeat: no-repeat
  color: #FFF
  display: block
  height: 35px
  margin-top: 80px
  padding: 20px 0 0 150px
  width: 95px


#main-content
  background-image: image-url('envelope_top.png'), image-url('envelope_bottom.png'), image-url('envelope.png')
  background-position: center top, center bottom, center center
  background-repeat: no-repeat, no-repeat, repeat-y
  margin-top: 40px
  min-height: 280px
  padding: 40px


nav
  background-image: image-url('seal.png')
  background-repeat: no-repeat


footer
  color: #FFF
  padding-top: 40px
  text-align: right

  a
    color: #FFF