body
  background-image: image-url('bg.png')


a
  color: #323232
  text-decoration: none


h1
  font-size: 2em
  margin-bottom: 20px


.wrapper
  margin: auto
  width: 822px


header
  background-color: rgba(0, 0, 0, 0.3)
  font-family: Arial, Sans-Serif
  padding: 10px 0
  text-align: right

  li
    display: inline-block
    margin-left: 5px

  a
    color: #F2F2F2
    font-size: 0.8em
    padding: 5px 0

  a:hover
    text-decoration: underline

  i
    color: #F2F2F2
    font-size: 1.2em
    vertical-align: -2px


#logo
  background-image: image-url('wings.png')
  background-repeat: no-repeat
  color: #FFF
  display: block
  height: 35px
  margin-top: 60px
  padding: 20px 0 0 150px
  width: 95px


#main-content
  background-image: image-url('envelope_top.png'), image-url('envelope_bottom.png'), image-url('envelope.png')
  background-position: center top, center bottom, center center
  background-repeat: no-repeat, no-repeat, repeat-y
  margin-top: 40px
  min-height: 280px
  padding: 40px

  nav
    background-image: image-url('seal.png')
    background-repeat: no-repeat


footer
  color: #FFF
  padding-top: 40px
  text-align: right

  a
    color: #FFF